<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Free Speech</title>

    <!-- Load Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,400italic,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="css/leaflet.css">


</head>
<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        
        <!-- Headline -->
        <h1>Is the First Amendment really coming first?</h1>
        <!-- Intro page -->
            <div id="first-amendment">
                <div id="text-first-amendment">
                    "Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances."
                </div>
            </div>
            <div id="founding-fathers">
                <img class="founding-fathers" src="img/foundingFathers/foundingFathersGroup1.png">
                <img class="founding-fathers" src="img/foundingFathers/foundingFathersGroup2.png">
                <img class="founding-fathers" src="img/foundingFathers/foundingFathersGroup3.png">
            </div>

            <!-- Timeline -->
            <div id="visual-timeline">
              <audio id="saviosound" controls>
                <source src="data/timeline/savio.mp3" type="audio/mp3">
              </audio>
              <div id="info">TEXT HERE EXPLAINING the first amendment on college
                  campuses (hover on people for sound, hover on circles
              for info on those movements. Three of the circles implemented already, try them out.)</div>
                <video id = "bostonVideo" autoplay>
                <source src="data/timeline/boston.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

        <!-- Line Graph -->
        <div class="row">
            <div class="col-6" id="linegraph-description">
              Text here explaining the line graph data and general trends to look for.
            </div>
            <div class="col-lg-6" id= "linegraph"> Should a(n)
              <select id="speaker-select">
                <option value="spkcom">Communist</option>
                <option value="spkmil">Militarist</option>
                <option value="spkath">Anti-Religionist</option>
                <option value="spkhomo">Homosexual Person</option>
                <option value="spkrac">Racist</option>
              </select>
              Be Allowed to Make a Speech?
              <div id="line-graphs"></div>
            </div>
        </div>

      <!-- College Map -->
        <div class="row" id="mapViz">
            <div class="col-6" id="map"></div>
            <div class="col-6" id="map-description">
                <button class="btn overall">Overall</button>
                <button class="btn ivy-league">Ivy Leagues</button>
                <button class="btn private">Private</button>
                <button class="btn public">Public</button>
                Explanation of FIRE data. Particular trends noted (i.e. between public/private colleges, Ivy leagues
            </div>
        </div>

      <!-- Disinvitation Requests -->
      <div class="col-12" id="disinvitation-visualization">Grouping visualization for the disinvitation requests.</div>

      <!-- Conclusion -->
      <div class="row">
          <div class="col-6" id="conclusion-info">Conclusion paragraph. General trends noted, links to further
          reading.</div>
          <div class="col-6" id="conclusion-img">Gallery of free speech on campus.</div>
      </div>
      <div id="data-links">Links to data, sources for images, link to process book.</div>

  </div>

  <!-- Load JS libraries -->
  <script src="js/jquery.min.js"></script>
  <script src="js/queue.v1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/topojson.min.js"></script>
  <script src="js/d3.min.js"></script>
  <script src="js/leaflet.js"></script>
  <script src="js/leaflet.awesome-markers.js"></script>


  <!-- Visualization objects -->
  <script src="js/lineGraph.js"></script>
  <script src="js/collegesMap.js"></script>

  <!-- Load data, create visualizations -->
  <script src="js/main.js"></script>
  <script src="js/timeline.js"></script>
</body>
</html>