<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Free Speech</title>

  <!-- Load Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,300,400italic,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        
        <!-- Headline -->
        <h1>Is the First Amendment really coming first?</h1>
        <!-- Intro page -->
        <div id="first-amendment">
          HERE IS THE TEXT OF THE FIRST AMENDMENT
        </div>
        <div id="founding-fathers">
          HERE ARE SOME FOUNDING FATHERS
        </div>

        <!-- Visualization placeholders -->
        <div id="visual-timeline">
          <audio id="saviosound" controls>
            <source src="data/timeline/savio.mp3" type="audio/mp3">
          </audio>
          <div id="info"></div>
          <div class="wrappe">
            <video id = "bostonVideo" width="320" height="240" autoplay>
            <source src="data/timeline/boston.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div id="line-graphs"></div>
        <!-- Visual Time Line -->
        <div id="timeline-description">
          SOME TEXT HERE
        </div>
        <div id="visual-timeline"></div>

        <!-- Line Graph -->
        <div id="linegraph-description">
          SOME TEXT HERE
        </div>
        <div class = "linegraph"> Should a(n)
          <select id="speaker-select">
            <option value="spkcom">Communist</option>
            <option value="spkmil">Militarist</option>
            <option value="spkath">Anti-Religionist</option>
            <option value="spkhomo">Homosexual Person</option>
            <option value="spkrac">Racist</option>
          </select>
          Be Allowed to Make a Speech?
          <div id="line-graphs"></div>
        </div>

        <!-- Map of School Ratings -->
        <div id="fire-description">
          TEXT HERE EXPLAINING RANKINGS FROM FIRE
        </div>
        <div id="map-of-schools"></div>
        <div id="map-description">
          SOME TEXT HERE
        </div>

        <!-- Disinvited Speakers Groupings -->
        <div id="disinvited-speakers-description">
          SOME TEXT HERE
        </div>
        <div id="disinvited-speakers"></div>

        <!-- Conclusion -->
        <div id="conclusion">
          SOME TEXT HERE
        </div>
      
      </div>
    </div>

  </div>

  <!-- Load JS libraries -->
  <script src="js/jquery.min.js"></script>
  <script src="js/queue.v1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/d3.min.js"></script>
  <script src="js/lineGraph.js"></script>
  <script src="js/collegesMap.js"></script>


  <!-- Visualization objects -->

  <!-- Load data, create visualizations -->
  <script src="js/main.js"></script>
  <script src="js/timeline.js"></script>
</body>
</html>