<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Free Speech</title>

    <!-- Load Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Actor|Niconne" rel="stylesheet">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="css/leaflet.css">

</head>
<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12">
          <div class="row">
              <!-- header with images, do not touch -->
              <div class="col-6 header">
                  <h1 id="title">Is the First Amendment really coming first?</h1>
                  <p>Watching the news, it would be easy to imagine that college campuses have become synonymous with
                  protest, violence, and the oppression of free speech. But is their evidence to show that support for
                  free speech is dwindling on America's college campuses?</p>
              </div>
              <div class="col-6 header collage">
                  <div class="row">
                      <div id="flagdiv" class="col-lg-4">
                          <img id="flag" src="img/flag.gif">
                      </div>
                      <div id="comfortable" class="col-8">
                          <img id="noPlatform" src="img/comfortable.png">
                      </div>
                  </div>
                      <img id="berkeley" src="img/berkeley.jpg">
                  <div class="row finalRow">
                      <div class="col-4" id="savioHeader">
                          <img id="benShap" src="img/ben.png">
                      </div>
                      <div class="col-5">
                          <img id="protest" src="img/protest.gif">
                      </div>
                      <div class="col-3" id="marioSav">
                          <img id="mario" src="img/savio.png">
                      </div>
                  </div>
              </div>
          </div>

            <!-- Timeline -->
            <div id="visual-timeline">
              <audio id="saviosound" controls>
                <source src="data/timeline/savio.mp3" type="audio/mp3">
              </audio>
                <audio id="milosound" controls>
                    <source src="data/timeline/milo.mp3" type="audio/mp3">
                </audio>
              <div id="info">TEXT HERE EXPLAINING the first amendment on college
                  campuses (hover on people for sound, hover on circles
              for info on those movements. Three of the circles implemented already, try them out.)</div>
                <video id="bostonVideo" class="media" autoplay loop>
                    <source src="data/timeline/boston.mp4" type="video/mp4">
                </video>
                <video id="kentVideo" class="media" autoplay loop muted>
                    <source src="data/timeline/kentstate.mp4" type="video/mp4">
                </video>
                <video id="yaleVideo" class="media" autoplay loop muted>
                    <source src="data/timeline/yale.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>

        <!-- Line Graph -->
        <div class="row">
            <div class="col-6" id="linegraph-description">
              Text here explaining the line graph data and general trends to look for.
                <button class="btn line-overall">Overall</button>
                <button class="btn gender">Gender</button>
                <button class="btn degree">Degree</button>
                <button class="btn age">Age</button>
                <button class="btn political-party">Political Affiliation</button>
            </div>
            <div class="col-lg-6" id= "linegraph"> Should a(n)
              <select id="speaker-select">
                <option value="spkcom">Communist</option>
                <option value="spkmil">Militarist</option>
                <option value="spkath">Anti-Religionist</option>
                <option value="spkhomo">Homosexual Person</option>
                <option value="spkrac">Racist</option>
              </select>
              Be Allowed to Make a Speech?
              <div id="line-graphs"></div>
            </div>
        </div>

      <!-- College Map -->
        <div class="row" id="mapViz">
            <div class="col-6" id="map"></div>
            <div class="col-6" id="map-description">
                <h1>Are college administrators protecting free speech?</h1>
                <p><a href="https://www.thefire.org/spotlight/">The Foundation for Individual Rights in Education</a>,
                    rank colleges according to how the college's
                administrators allow free speech on campus. A college ranked<span id="red"> red </span>  has one or more
                    policies that
                substantially and clearly restricting free speech. An example of this would be having a blanket ban on
                    'verbal abuse'. A white college has one or more policies that inhibit free speech, but
                on a much smaller scope. For example, banning posters that mention drink or drugs. <span id="blue">
                        Blue</span> colleges have a hands off approach to free speech. This does not meant that they
                    necessarily encourage free speech and the student population could still be opposed to free
                    speech.</p>
                <ul>
                    <li><span class="btn overall">Overall,</span>only 10% of colleges have a blue ranking with
                    58% ranking as white and 32% as red.</li>
                    <li>Only one <span class="btn ivy-league">Ivy League</span>college, the University of
                    Pennsylvania, was ranked blue. Harvard was ranked red.</li>
                    <li><span class="btn private">Private colleges</span>were more likely to be ranked red than
                    <span class="btn public">public colleges</span>- 50.5% versus 24.7%. This may be because
                    private colleges have a right to shutdown speech but as public colleges receive federal funding,
                        they are held to a higher standard when protecting the Constitution.</li>
                </ul>
            </div>
        </div>

      <!-- Disinvitation Requests -->
      <div class="col-12" id="disinvitation-visualization">
          Split
          <button class="btn yes-no-split">Yes/No</button>
          <button class="btn split-by-traffic-light">Split by FIRE rating</button>
          Color By buttons
          <button class="btn color-by-traffic-light">Color by FIRE rating</button>
      </div>


      <!-- Conclusion -->
      <div class="row">
          <div class="col-6" id="conclusion-info">Conclusion paragraph. General trends noted, links to further
          reading.</div>
          <div class="col-6" id="conclusion-img">Gallery of free speech on campus.</div>
      </div>
      <div id="data-links">Links to data, sources for images, link to process book.</div>

  </div>

  <!-- Load JS libraries -->
  <script src="js/jquery.min.js"></script>
  <script src="js/queue.v1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/topojson.min.js"></script>
  <script src="js/d3.min.js"></script>
  <script src="js/leaflet.js"></script>
  <script src="js/leaflet.awesome-markers.js"></script>


  <!-- Visualization objects -->
  <script src="js/lineGraph.js"></script>
  <script src="js/collegesMap.js"></script>
  <script src="js/disinvitationAttempts.js"></script>

  <!-- Load data, create visualizations -->
  <script src="js/main.js"></script>
  <script src="js/timeline.js"></script>

</body>
</html>