

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
}

#saviosound {
    visibility: hidden;
}

#info {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#bostonVideo {
    position: absolute;
    left: 186.21737194064195px;
    top: 150px;
    width: 200px;
    height: 200px;
    padding-left: 50px;
}

#line-graphs {
    width: 50%;
    height: 500px;
}
