

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 100;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 20px;
    text-align: center;
}

#saviosound {
    visibility: hidden;
}

#info {
    margin: auto;
    width: 50%;
    padding: 10px;
    height: 100px;
}

#bostonVideo {
    position: absolute;
    left: 186.21737194064195px;
    top: 700px;
    width: 200px;
    height: 200px;
    padding-left: 50px;
}

#line-graphs {
    width: 100%;
    height: 500px;
}

#first-amendment {
    width: 100%;
    height: 300px;
    background-image: url("../img/constitution.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-anchor: middle;
}

#text-first-amendment {
    color: white;
    background-color: #654C33;
    opacity: 0.7;
    text-align: center;
    width: 30%;

}

#founding-fathers{
    width: 100%;
    height: 150px;
    background-color: #6c757d;
}
.founding-fathers{
    width: 33%;
    background-color: white;
}

#linegraph-description, #map-description {
    background-color: #727b84;
}

#mapViz {
    height: 500px;
}

#map .usmap{
    fill: #dddddd;
}

#disinvitation-visualization {
    background-color: #868e96;
    height: 500px;
    width: 100%
}

#conclusion-img {
    background-color: #9fcdff;
    height: 380px;
}

#conclusion-info {
    background-color: #f1b0b7;
    height: 380px;
}

#data-links{
    height: 100px;
    background-color: #80bdff;
}